{{ define "main" }}
<div class="container">
  <h1 class="title">{{ .Title }}</h1>

  {{ if eq .Section "news" }}
    <div class="news-meta">
      {{ if .Params.author }}
        <p class="author"><span class="icon"><i class="fas fa-user"></i></span> By {{ .Params.author }}</p>
      {{ end }}
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <p class="date"><span class="icon"><i class="fas fa-calendar-alt"></i></span> Published on {{ $dateHuman }}</p>
    </div>
  {{ end }}

  <div class="content">
    {{ .Content }}
  </div>

  {{ if and .IsSection .Params.list_child_pages }}
    <div>
      {{ range .Pages }}
        <h2 class="title is-5">
          <a href="{{ .RelPermalink }}" style="color: #444444;">{{ .LinkTitle }}</a>
        </h2>
        {{ if eq .Section "news" }}
          <p class="date">{{ .Date.Format "2 January, 2006" }}</p>
        {{ end }}
        <div class="content">
          {{ .Summary }}
        </div>
      {{ end }}
    </div>
  {{ end }}
</div>
{{ end }}
