{{ $color := .Get "color" | default "#339966" }}
{{ $gradientStart := "#339966" }}
{{ $gradientEnd := "#66cc99" }}
{{ if eq $color "#3366cc" }}
  {{ $gradientStart = "#3366cc" }}
  {{ $gradientEnd = "#66ccff" }}
{{ else if eq $color "#6633cc" }}
  {{ $gradientStart = "#6633cc" }}
  {{ $gradientEnd = "#9966ff" }}
{{ end }}
<a href="{{ .Get "href" }}" class="bulma-button custom-button" data-gradient-start="{{ $gradientStart }}" data-gradient-end="{{ $gradientEnd }}" data-content="{{ .Inner }}"></a>
