{{ $email := .Get 0 }}
{{ $text := .Get 1 | default $email }}
<span id="email-protect-{{ sha256 $email }}" class="email-protect"></span>
<script>(function(){
    const rot13 = str => str.replace(/[a-zA-Z]/g, c => {
        const charCode = c.charCodeAt(0);
        const isUpperCase = c <= 'Z';
        const base = isUpperCase ? 65 : 97;
        return String.fromCharCode(base + (charCode - base + 13) % 26);
    });
    const email = rot13("{{ $email }}");
    const text = rot13("{{ $text }}");
    document.getElementById('email-protect-{{ sha256 $email }}').innerHTML = 
        `<a href="mailto:${email}">${text}</a>`;
})();</script>
