{{ $email := .Get 0 }}
{{ $text := .Get 1 | default $email }}
<span class="email-protect"></span>
<script type="text/javascript">
(function(){
    const encodedEmail = "{{ $email }}".split('').reverse().join('');
    const encodedText = "{{ $text }}".split('').reverse().join('');
    const email = encodedEmail.split('').reverse().join('');
    const text = encodedText.split('').reverse().join('');
    document.querySelector('.email-protect').outerHTML = 
        `<a href="mailto:${email}">${text}</a>`;
})();
</script>
<noscript>[Enable JavaScript to see email]</noscript>
