<div class="visualization-container">
    <div class="buttons has-addons is-centered" style="margin: 1rem;">
        <button id="routingPlayPauseBtn" class="button is-medium is-primary">
            <span class="icon">
                <i class="fas fa-play"></i>
            </span>
        </button>
        <button id="resetRoutingBtn" class="button is-medium">
            <span class="icon">
                <i class="fas fa-undo"></i>
            </span>
        </button>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <canvas id="networkCanvas2" width="600" height="600"></canvas>
    </div>
</div>
<script src="/js/small-world-routing.js"></script>
