<div class="visualization-container">
    <div style="display: flex; flex-direction: row;">
        <canvas id="networkCanvas3" width="500" height="500"></canvas>
        <div id="scalingChart" style="width: 500px; height: 500px;">
            <svg width="500" height="500"></svg>
        </div>
    </div>
    <div class="control-panel" style="text-align: center; margin: 20px 0;">
        <button id="startScaleBtn" class="button is-large is-primary" style="margin-right: 10px;">Start Simulation</button>
        <button id="resetScaleBtn" class="button is-secondary">Reset</button>
    </div>
</div>
<script src="/js/small-world-scale.js"></script>
