<div class="visualization-container">
    <div class="buttons has-addons is-centered" style="margin: 1rem;">
        <button id="scalePlayPauseBtn" class="button is-medium is-primary">
            <span class="icon">
                <i class="fas fa-play"></i>
            </span>
        </button>
        <button id="resetScaleBtn" class="button is-medium">
            <span class="icon">
                <i class="fas fa-undo"></i>
            </span>
        </button>
    </div>
    <div style="display: flex; flex-direction: row;">
        <canvas id="networkCanvas3" width="500" height="500"></canvas>
        <div id="scalingChart" style="width: 500px; height: 500px;">
            <svg width="500" height="500"></svg>
        </div>
    </div>
</div>
<script src="/js/small-world-scale.js"></script>
