<div class="visualization-container">
    <div class="buttons has-addons is-centered" style="margin: 1rem;">
        <button id="distPlayPauseBtn" class="button is-medium is-primary">
            <span class="icon">
                <i class="fas fa-play"></i>
            </span>
        </button>
        <button id="resetDistBtn" class="button is-medium">
            <span class="icon">
                <i class="fas fa-undo"></i>
            </span>
        </button>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <canvas id="networkCanvas1" width="500" height="500"></canvas>
        <div id="histogram" style="width: 500px; height: 500px;"></div>
    </div>
</div>
<script src="/js/small-world-dist.js"></script>
