<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Freenet{% if page.title %} - {{ page.title }}{% endif %}{% endblock %}</title>
  <link rel="stylesheet" href="/css/bulma.min.css" />
  <link rel="stylesheet" href="/css/freenetorg.css" />
</head>

<body>
  <section class="section content">
    <div class="container">
      <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item {% if current_path == '/' %}is-active{% endif %}" href="/"> Home </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link {% if current_path | contains(pat='/about/') %}is-active{% endif %}">
                About
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item {% if current_path == '/about/philosophy/' %}is-active{% endif %}" href="/about/philosophy/"> Philosophy </a>
                <a class="navbar-item {% if current_path == '/about/community/' %}is-active{% endif %}" href="/about/community/"> Community </a>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link {% if current_path | contains(pat='/developers/') %}is-active{% endif %}">
                Developers
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item {% if current_path == '/developers/build/' %}is-active{% endif %}" href="/developers/build/"> Build on Freenet </a>
                <a class="navbar-item {% if current_path == '/developers/development/' %}is-active{% endif %}" href="/developers/development/"> Development </a>
              </div>
            </div>

            <a class="navbar-item {% if current_path == '/faq/' %}is-active{% endif %}" href="/faq/"> FAQ </a>
            <a class="navbar-item {% if current_path == '/blog/' %}is-active{% endif %}" href="/blog/"> Blog </a>
          </div>
        </div>
      </nav>
    </div>

    <div class="container content">
      {% block content %} {% endblock %}
    </div>
  </section>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }
  });
</script>
</body>

</html>
