<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>freenet.org</title>
    <link rel="stylesheet" href="/css/bulma.min.css" />
  </head>

  <body>
    <section class="section content">
      <div class="container">
        <nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
              <a class="navbar-item {% if page.url == '/' %}is-active{% endif %}" href="/"> Home </a>

              <a class="navbar-item {% if page.url == '/about/' %}is-active{% endif %}" href="/about"> About </a>

              <a class="navbar-item {% if page.url == '/contact/' %}is-active{% endif %}" href="/contact"> Contact </a>
          </div>
        </nav>
      </div>
    </section>

    <section class="section">
      <div class="container">
        {% block content %}
        {% include 'content/home.md' %}
        {% endblock %}
      </div>
    </section>
  </body>
</html>
