.navbar-item:hover .logo-text {
    color: #007bff; /* Change this to your preferred hover color */
  }

  .logo-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .logo-img {
    max-height: 3rem;
  }
  
  .logo-text {
    margin-left: 0.5rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
  }
  
  @media (max-width: 768px) {
    .logo-text {
      font-size: 1.2rem;
      margin-left: 0.3rem;
    }
  
    .navbar-menu {
      display: none; /* Hide the menu on smaller screens or use a hamburger menu */
    }
  }
  
  .box h2 {
    margin-bottom: 0.25rem; /* reduce bottom margin */
  }
  
  .date {
    font-size: 0.875rem; /* equivalent to Bulma's is-size-7 */
    color: #7a7a7a; /* lighter grey for the date */
    margin-top: 0; /* remove top margin */
    margin-bottom: 0.5rem; /* adjust bottom margin */
    line-height: 1.2; /* reduce line height */
  }
  