<div id="certificate-info">
  <p>Your donation certificate is being generated. Please wait...</p>
</div>

<div id="certificateSection" style="display: none;">
  <h3>Your Donation Certificate</h3>
  <p>Signed Public Key (base64):</p>
  <textarea id="signedPublicKey" rows="4" cols="50" readonly></textarea>
  <button id="downloadCertificate" class="button is-primary">Download Certificate</button>
</div>

<div id="errorMessage" style="display: none; color: red;"></div>

<script src="/js/elliptic.min.js"></script>
<script src="/js/donation-success.js"></script>
