{{ $tag := .Get "tag" | default "front-page" }}
{{ $news := where .Site.RegularPages "Section" "news" }}
{{ $news := where $news "Params.tags" "intersect" (slice $tag) }}
{{ $sortedNews := sort $news "Date" "desc" }}
<ul>
  {{ range first 5 $sortedNews }}
    <li>
      <strong>{{ .Date.Format "January 2, 2006" }}</strong> - 
      {{ if in .Params.tags "video-talk" }}
      <i class="fas fa-video"></i>
      {{ end }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ if eq $tag "video-talk" }}
        <div class="content my-3">
          <p>{{ replace .Summary "Freenet's architect" "Ian Clarke" }}</p>
        </div>
      {{ end }}
    </li>
  {{ end }}
</ul>
