{{ $tag := .Get "tag" | default "front-page" }}
{{ $showDescription := .Get "show_description" | default false }}
{{ $news := where .Site.RegularPages "Section" "news" }}
{{ $news := where $news "Params.tags" "intersect" (slice $tag) }}
{{ $sortedNews := sort $news "Date" "desc" }}
<ul>
  {{ range first 5 $sortedNews }}
    <li>
      <strong>{{ .Date.Format "January 2, 2006" }}</strong> - 
      {{ if in .Params.tags "video-talk" }}
      <i class="fas fa-video"></i>
      {{ end }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ if $showDescription }}
        <p>{{ .Description }}</p>
      {{ end }}
    </li>
  {{ end }}
</ul>
