{{ $tag := .Get "tag" }}
{{ $articles := where .Site.RegularPages "Params.tags" "intersect" (slice $tag) }}
{{ $sortedArticles := sort $articles "Date" "desc" }}

<ul>
{{ range $sortedArticles }}
  <li>
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 640 512" fill="currentColor"><path d="M320 32L0 160l320 128 320-128L320 32zM64 256v128l256 128 256-128V256L320 384 64 256z"/></svg>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    <p class="article-description">{{ .Description }}</p>
  </li>
{{ end }}
</ul>
