<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <section class="section content">
    <div class="container">
      <header>
        {{ partial "header.html" . }}
      </header>
      <main>
        <div class="section content">
        {{ block "main" . }}{{ end }}
        </div>
      </main>
      <footer>
        {{ partial "footer.html" . }}
        <div class="footer-content">
          <p>&copy; 2024 Freenet Project Inc. Pull requests to improve the site can be submitted to the <a href="https://github.com/freenet/web">https://github.com/freenet/web</a> repo.</p>
        </div>
      </footer>
    </div>
  </section>
</body>
</html>
