{{- /*
  Renders a menu for the given menu ID.
  
  @context {page} page The current page.
  @context {string} menuID The menu ID.
  
  @example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  */}}
  
  {{- $page := .page }}
  {{- $menuID := .menuID }}
  
  {{- with index site.Menus $menuID }}
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item logo-container" href="/" style="padding: 2rem 2.5rem;">
          <img src="/freenet_logo.svg" alt="Freenet Logo" class="logo-img" id="freenet-logo" style="max-height: 30rem;">
          <span class="logo-text" style="font-size: 3rem;">Freenet</span>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="freenetNavbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="freenetNavbar" class="navbar-menu">
        <div class="navbar-start">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </div>
        <div class="navbar-end"></div>
      </div>
    </nav>
  {{- end }}

  {{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- if eq .Name "Home" }}
      {{- continue }}
    {{- end }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "navbar-item is-active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "navbar-item" "aria-current" "true") }}
    {{- else }}
      {{- $attrs = merge $attrs (dict "class" "navbar-item") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}

    {{- if .Children }}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">{{ $name }}</a>
        <div class="navbar-dropdown">
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .Children) }}
        </div>
      </div>
    {{- else }}
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k . | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
    {{- end }}
  {{- end }}
{{- end }}
